
#
# Display settings
#
CONFIG_DISPLAY_USE_ILI9341=y
CONFIG_DISPLAY_USE_XPT2046=y

CONFIG_PIN_NUM_MISO=12
CONFIG_PIN_NUM_MOSI=13
CONFIG_PIN_NUM_CLK=14
CONFIG_PIN_NUM_CS=15
CONFIG_PIN_NUM_DC=2
CONFIG_PIN_NUM_RST=-1
CONFIG_PIN_NUM_BL=27

CONFIG_PIN_NUM_TOUCH_CS=33
CONFIG_PIN_NUM_TOUCH_IRQ=36

CONFIG_DISPLAY_SPI2_HOST=y

CONFIG_LVGL_HOR_RES=240
CONFIG_LVGL_VER_RES=320
CONFIG_LVGL_COLOR_DEPTH_16=y

#
# UART1 settings
#
CONFIG_UART1_TX_PIN=17
CONFIG_UART1_RX_PIN=16
CONFIG_UART1_BUF_SIZE=1024
CONFIG_UART1_BAUD_RATE=115200
CONFIG_UART1_DATA_BITS=8
CONFIG_UART1_PARITY_DISABLE=y
CONFIG_UART1_STOP_BITS=1
CONFIG_UART1_FLOWCTRL_DISABLE=y

#
# External I2C settings
#
CONFIG_I2C_EXT_PORT_NUM=0
CONFIG_I2C_EXT_SDA_PIN=22
CONFIG_I2C_EXT_SCL_PIN=21
CONFIG_I2C_EXT_FREQ_HZ=400000

#
# External GPIO_D settings
#
CONFIG_GPIO32_MODE_ADC=y
CONFIG_GPIO35_MODE_ADC=y
